#ui-buttons {
  position: fixed;
  /* Stay in place on screen */
  bottom: 20px;
  /* 20px from bottom edge */
  left: 20px;
  /* 20px from left edge */
  display: none;
  /* Hidden by default */
  flex-direction: column;
  /* Stack multiple buttons vertically, but you’ll have only 1 */
  gap: 10px;
  /* Space between buttons if more than one */
  z-index: 1000;
  /* Make sure it's above the canvas */
  width: 150px;
  height: 150px;
}

#ui-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  width: inherit;
  height: inherit;
}

#btn1 {
  background-image: url("src/UI/Button/Arrow\ Back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent !important;
  border: none;
  margin-bottom: 10px;
  box-shadow: none;
}

#side-modal {
  display: none;
  position: absolute;
  /* or absolute as needed */
  top: 30%;
  right: 10%;
  width: 80vw;
  max-width: 800px;
  height: 70%;
  max-height: 800px;
  background: white;
  transform: translateX(100%);
  /* Start offscreen */
  transition: transform 0.3s ease;
  /* Optional fallback */
  border-radius: 25px;
  border-color: #fff;
  overflow-y: auto;
}

#side-modal-content{
  width: 100%;
  overflow: auto;
  height: 100%;
}

#side-modal-label{
  border-color: #3C3C43;
  background-color: #3C3C43;
  border-style: solid;
  border-radius: 30px;
  color: #fff;
  width: 100px;
  height: 20px;
}

#side-modal-img{
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border-radius: 25px 25px 0px 0px;
  border-color: #3C3C43;
  background-color: grey;
}

/* Side modal styling */
#side-modal-with-gallery {
  display: none;
  position: fixed;
  top: 50%;
  right: 20%;
  width: 80vw;
  max-width: 800px;
  height: auto;
  background: white;
  transform: translateY(-50%) translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.gallery-card img {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
}

/* Popup styling */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

}

#popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

#popup.hidden {
  display: none;
}

#popup-close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}