@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, aqua;
}
body {
  display: block;
  margin: 0px;
}

#webgl-canvas{
  display: block;
}

#appheader{
  position:absolute;
}


#side-modal-label {
  border-color: #3C3C43;
  background-color: #3C3C43;
  border-radius: 30px;
  color: #fff;
  width: 3.5vw;
  height: 2vh;
  position: fixed;
  z-index: 1;
  right: 2vw;
  top: 0px;
  text-align: center;
  font-size: 1.2rem;
  vertical-align: middle;
}

.side-modal-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 1vw;
}

#popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}